.DS_Store
/other
node_modules
/blindlink/dist
/shufflelink/dist
/hostname1
/hostname2
yarn.lock
/config.json
/bcoin
/bcash
/logs
/bob/public/bcash.js
/bob/public/bcoin.js
/bob/public/bcash-worker.js
/bob/public/bcoin-worker.js
/bobwallet.html
