.DS_Store
/app
/tests
node_modules
hostname1
hostname2
/other
/.github
/bcoin
/bcash
/bcoin_testnet
/bcash_testnet
/logs
/scripts
/index.html
/config.json
/.eslintignore
/.eslintrc

/bob/public/bcash.js
/bob/public/bcoin.js
/bob/public/bcash-worker.js
/bob/public/bcoin-worker.js
/bobwallet.html
