[Service]
ExecStart=/usr/bin/docker run --name bcash --rm -v /root/bcash:/root/.bcash -p 18342:18332 bcash /bcash/bin/bcash --network testnet --index-address --api-key changeme --prune  --http-port 18332 --http-host 0.0.0.0
Restart=always
