[Service]
ExecStart=/usr/bin/docker run --name bcoin --rm -v /root/bcoin:/root/.bcoin -p 18332:18332 bcoin /bcoin/bin/bcoin --network testnet --index-address --api-key changeme --prune --http-port 18332 --http-host 0.0.0.0
Restart=always
