[Service]
ExecStart=/usr/bin/docker run --name bobwallet --rm -e "NODE_ENV=production" -v /root/bobwallet/certs:/root/acme/etc -v /root/bobwallet/config.json:/bobwallet/config.json -v /root/bobwallet/logs:/bobwallet/logs -p 8081:8081 -p 80:80 -p 443:443 --net=host bobwallet
Restart=always
