[Unit]
Description=Bcash

[Service]
User=bcash
Group=bcash
Environment=NODE_ENV=production
ExecStart=/home/bcash/bcash/bin/bcash --prefix /mnt/usbstorage/bcash_testnet --network testnet --index-tx --index-address --api-key somepassword --http-host=0.0.0.0 --persistent-mempool
Restart=always

[Install]
WantedBy=multi-user.target

# sudo ln -s $(which node) /usr/bin/node
