[Unit]
Description=Bcoin

[Service]
User=bcoin
Group=bcoin
Environment=NODE_ENV=production
ExecStart=/home/pi/.nvm/versions/node/v10.5.0/bin/bcoin --network testnet --index-address --api-key somepassword --prune
Restart=always

[Install]
WantedBy=multi-user.target

# sudo ln -s $(which node) /usr/bin/node
