[Unit]
Description=ShuffleLink
After=network.target

[Service]
Type=simple
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/BobWallet
ExecStart=/home/pi/.nvm/versions/node/v9.8.0/bin/node /home/pi/BobWallet/shufflelink/server/index.js

User=nobody
Group=nogroup
LimitNOFILE=infinity
LimitCORE=infinity
StandardInput=null
StandardOutput=syslog
StandardError=syslog
Restart=always

[Install]
WantedBy=multi-user.target
